<form method="post" action="{{ path('app_chapter_delete', {'id': chapter.id}) }}" onsubmit="return confirm('¿Estás seguro que quieres eliminar este capítulo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chapter.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>