{% extends 'base.html.twig' %}

{% block title %}Editar{% endblock %}

{% block body %}
    <h1>Editar Capítulo</h1>

    {{ include('chapter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chapter_index') }}">back to list</a>

    {{ include('chapter/_delete_form.html.twig') }}
{% endblock %}
