{% extends 'base.html.twig' %}

{% block title %}Blog - Capítulos{% endblock %}

{% block body %}
<h1>Capítulos</h1>

<ul>
    {% for chapter in chapters %}
        <li>
            <strong>Capítulo {{ chapter.number }}</strong><br>
            Libro: {{ chapter.book.title }} / Volumen: {{ chapter.book.volume.number }}<br>
            POV: {{ chapter.role.name }}
        </li>
    {% else %}
        <li>No hay capítulos todavía.</li>
    {% endfor %}
</ul>
{% endblock %}